    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">

          <div class="navbar-header">
              <button type="button"  (click)="navOpen()" id="sidebarCollapse" class="btn btn-info navbar-btn">
                  <i class="glyphicon glyphicon-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
          </div>


      </div>
  </nav> -->
  <mat-toolbar color="primary">
        <div type="button"  (click)="navOpen()" id="sidebarCollapse" >
                <i class="glyphicon glyphicon-align-left"></i>
        </div>
      </mat-toolbar>
