<mat-toolbar class="nav" color="primary">
    <div (click)="navOpen()" id="sidebarCollapse">
        <!-- <i class="glyphicon glyphicon-align-left"></i> -->
        <i class="material-icons">menu</i>
    </div>
    <span class="example-fill-remaining-space"></span>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item  (click)="groupByTransaction()" >View By Transaction   </button>
        <button mat-menu-item (click)="groupByCategory()"> View By Category    </button>

    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar></mat-toolbar>
