<div *ngIf="!isSelectCategory" (click)="displaySelectCategory()">
    <div *ngIf="selectedCategory">
        <mat-list>
            <mat-list-item class=" category">
                <img mat-list-avatar [src]="selectedCategory.Icon" [alt]="selectedCategory.Name">
                <span class="category-name">
                    {{selectedCategory.Name}}
                </span>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="!selectedCategory">
        <mat-list>
            <mat-list-item class=" category">
                <img mat-list-avatar [src]="icon_not_selected" [alt]="Select Category">
                <span class="category-name">
                    Select Category
                </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div *ngIf="isSelectCategory"   class="category-list">
    <mat-tab-group class="group">
        <mat-tab *ngFor="let tab of tabs" [label]="tab">
                <div mat-button *ngFor="let category of categories" >
                    <div *ngIf="category.Type == tab" (click)="select(category)">
                        <mat-list>
                            <mat-list-item >
                                <img mat-list-avatar [src]="category.Icon" [alt]="category.Name">
                                <span class="category-name">
                                    {{category.Name}}
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    </div>
        </mat-tab>
    </mat-tab-group>
</div>

