<div *ngIf="!isSelectCategory" (click)="displaySelectCategory()">
    <div *ngIf="selectedCategory">
        <input [(ngModel)]="selectedCategory" placeholder="{{selectedCategory}}" (focus)="displaySelectCategory()">
    </div>
    <div *ngIf="!selectedCategory">
        <input  placeholder="SelectCategory" (focus)="displaySelectCategory()">
    </div>
</div>
<div *ngIf="isSelectCategory" class="category-list" [@flyInOut]>
    <div *ngFor="let category of categories " (click)="select(category.Name)">{{category.Name}}</div>
</div>
