    <div  [@slideLeft] class="add-category">
        <mat-toolbar>
                <i class="material-icons" (click)="back()">arrow_back</i>
                <span class="fill-space"></span>
                <span *ngIf="category" class="edit">
                        <i class="material-icons" routerLink="/category/edit/{{category._id}}">mode edit</i>
                        <i class="material-icons icon" (click)="del(category._id)">delete</i>
                    </span>
            </mat-toolbar>
            <div *ngIf="category">
                <mat-list>
                    <mat-list-item class=" category">
                        <img mat-list-avatar [src]="category.Icon" [alt]="category.Name">
                        <span class="category-name">
                            {{category.Name}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
