<p  *ngIf="transaction">
    <button routerLink="/transaction/edit/{{transaction.id}}" >edit</button>
</p>
<div *ngIf="transaction">
    <h2>{{ transaction.description | uppercase }} Details</h2>
    <div>
        <span>id: </span>{{transaction.id}}</div>
    <div>
        <label>name:</label>
        <label placeholder="name">{{transaction.description}}</label>

    </div>
    <div>
        <label>category:</label>
        <label placeholder="name">{{transaction.categoryName}}</label>

    </div>

</div>
