<div *ngIf="!isSelectCurrency" (click)="displaySelectCurrency()">
    <div *ngIf="selectedCurrency">
        <mat-list>
            <mat-list-item class=" currency">
                <img mat-list-avatar [src]="icon_currency" [alt]="selectedCurrency.text">
                <span class="currency-name">
                    {{selectedCurrency.text}}
                </span>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="!selectedCurrency">
        <mat-list>
            <mat-list-item class=" currency">
                <img mat-list-avatar [src]="icon_currency" alt="Select Currency">
                <span class="currency-name">
                    Select Currency
                </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div *ngIf="isSelectCurrency" class="currency-list" [@flyInOut]>
    <mat-list>
        <mat-list-item class=" currency">
            <input #myInput placeholder="Item name..." [(ngModel)]="name" (input)="filterItem(myInput.value)" />
        </mat-list-item>
    </mat-list>
    <div mat-button *ngFor="let currency of filteredItems" (click)="select(currency)">
        <mat-list>
            <mat-list-item class=" currency">
                <img mat-list-avatar [src]="currency.flag" [alt]="currency.text">
                <span class="currency-name">
                    {{currency.text}}
                </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>