

.wrapper {
  display: flex;
  align-items: stretch;
}
#content[_ngcontent-c0] {
  font-size: 28px;
  /* padding: 0px 10vw; */
  width: 100vw;
}
@media (max-width: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #content  {
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 0px !important;
    width: 100vw;
  }
}

.swipe-box {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  transform: .5s ease .1s;
}

.ctn {
  max-width: 400px;
  margin: 0 auto;
}

.inner-ctn {
margin: 20px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}