<!-- <button id="googleBtn">Google Sign-In</button> -->
<!-- <div class="g-signin2" data-onsuccess="onSignIn" ></div>  -->
<!-- <div class="g-signin2" data-onsuccess="onSignIn" ></div> -->
<!-- <div id="googleBtn">Google</div> -->
<!-- <input type="text" [(ngModel)]="user" />
<button id="googleBtn" (click)="a()">Google Sign-In</button> -->


<!-- <div>GoogleSignIn</div> -->

<div id="google-signin2"></div>
<div style="position: fixed;left:40px;top:0;z-index: 999;font-family: 'Poppins', sans-serif;color: white;margin: 10px;font-size: 24px;">
    My Account
</div>
<div>{{this.email}} </div>
