  .add-transaction {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
      background: white;
      min-height: 100%;
      width: 100%;
  }

  .fill-space {
      flex: 1 1 auto;
  }

  .red {
      color: red;
  }

  .blue {
      color: blue;
  }

  .green {
      color: rgb(0, 255, 0);
  }

  .row {
      width: 70%;
      min-width: 250px;
      max-width: 350px;
  }
