<div [@slideUp] class="add-transaction">
    <mat-toolbar>
        <i class="material-icons" (click)="back()">arrow_back</i>
        <span class="fill-space"></span>
        <button mat-button (click)="onSubmit(addTransactionForm)">Save</button>

    </mat-toolbar>
    <form [formGroup]="addTransactionForm" (ngSubmit)="onSubmit(addTransactionForm)">
        <div>

            <mat-list>
                <mat-list-item>
                    <div class="row" style="padding-left:  70px;    height: 48px; font-size:36px;">
                        <app-amount-input [ngClass]="{'red': addTransactionForm.value.category.Kind == kindEnum.EXPENSE,
                    'blue': addTransactionForm.value.category.Kind == kindEnum.INCOME,
                    'green': !addTransactionForm.value.category  } " matInput formControlName="amount" placeholder="amount">
                        </app-amount-input>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <i style="font-size: 40px;" class="material-icons">short_text</i>
                    <mat-form-field class="row" style="padding-left: 20px;">
                        <textarea matInput type="text" formControlName="note"></textarea>
                    </mat-form-field>
                </mat-list-item>

                <app-cat-input formControlName="category"></app-cat-input>

                <mat-list-item>
                    <i style="font-size: 40px;" class="material-icons">date_range</i>
                    <mat-form-field style="width:50%; min-width:250px; max-width:300px;padding-left: 20px;">
                        <input matInput type="date" formControlName="time">
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>
    </form>
</div>
