<!-- <div (click)="toggle()">hjsvdg</div> -->
<div *ngFor="let item of transactions | groupBy:groupByFilter">
    <div class="card">
        <div class="trans-group-header">
            <div *ngIf="groupByFilter == 'categoryName'">
                <div>
                    <mat-list >
                        <mat-list-item>
                            <img mat-list-avatar src="/assets/myicons/img_avatar.png">
                            <h3 mat-line>
                                {{getHeader(item.key,item.value)}}
                            </h3>
                            {{getSum(item.value)}}
                        </mat-list-item>
                    </mat-list>
                </div>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let hero of item.value" routerLink="{{hero._id}}" class="wrapper trans">
                        <div class="left">
                            <span class="date">{{hero.time | date}}</span>
                            <div class="date-detail">
                                    <div class="day">{{hero.time | day }}</div>
                                <div>{{hero.time | month }} {{hero.time | year }}</div>
                            </div>
                        </div>
                        <div class="right">
                            <div>{{hero.Amount}}</div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div *ngIf="groupByFilter == 'time'">
                <mat-list>
                    <mat-list-item class="wrapper ">
                        <div class="left">
                            <div class="date">{{item.value[0].time | date}}</div>
                            <div class="date-detail">
                                <div class="day">{{item.value[0].time | day }}</div>
                                <div>{{item.value[0].time | month }} {{item.value[0].time | year }}</div>
                            </div>
                        </div>
                        <div class="right">
                                <div>{{getSum(item.value)}}</div>
                            </div>
                    </mat-list-item>

                </mat-list>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let hero of item.value" routerLink="{{hero._id}}" class="trans">
                            <img mat-list-avatar src="/assets/myicons/img_avatar.png" alt="aasdf">
                            <h3 mat-line>
                                {{hero.categoryName}}
                            </h3>
                            {{hero.Amount}}
                    </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>
</div>

<div class="featured-image">
    <div class="round-button">
        <div class="round-button-circle">
            <a routerLink="/transaction-add" class="round-button">
                <img src="/assets/myicons/add.png" alt="">
            </a>
        </div>
    </div>
</div>
<div class="dummy"></div>
