
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px 0px;
  background: #fff;
  width: 100%;
}
.trans-group-header{
  padding:.5em;

}
.trans{
  transition: 0.3s;
    padding: .5em;
    font-size: 1em;
}
.trans:hover{
  background-color: red;
}

.date {
    float:left;
    width:40px;
    font-size: 1.8em;
    padding-left: 5px;
   }
   .day {
    float:left;
    width:190px;
    padding-right: 0;
    padding-left: 16px;
    /* font-size: 1em; */
   }
   #div-1c {
    clear:both;
   }
.list-item{
    padding: 20px 0;
}


.featured-image {
    max-width:150px;
    position: fixed;
    right: 0px;
    bottom: 0px;
  }

  .round-button {
      width:100%;
  }
  .round-button-circle {
      width: 100%;
      height:0;
      padding-bottom: 100%;
      border-radius: 50%;
      overflow:hidden;

      background: #673ab7;
      box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
      background:#30588e;
  }
  .round-button a {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 1em;
    text-decoration: none;
  }

