<form [formGroup]="editTransactionForm" (ngSubmit)="onSubmit(editTransactionForm)">
    <div>
        <div style="width:100%;">
            <mat-form-field style="width:50%; min-width:250px; max-width:300px;">
                <input matInput formControlName="Amount">
            </mat-form-field>
        </div>
        <div style="width:100%;">
            <mat-form-field style="width:50%; min-width:250px; max-width:300px;">
                <textarea matInput formControlName="Description"></textarea>
            </mat-form-field>
        </div>
        <app-cat-input formControlName="categoryName" required></app-cat-input>
        <div style="width:100%;">
            <mat-form-field style="width:50%; min-width:250px; max-width:300px;">
                <input matInput type="date" formControlName="time">
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!editTransactionForm.valid">Submit</button>
    </div>
</form>
